﻿@model PMS.Entities.ProductDTO

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}
<script>
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("userImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>
<h2 class="mid">New</h2>

<form class="form container1" action='@Url.Content("~/Product/Save")' method="post" enctype="multipart/form-data">
    @if (Model.PictureName != "")
{
    <img id="uploadPreview" src='@Url.Content("~/UploadedFiles")/@Model.PictureName' style="width:100px;height:100px;" /> <br /> <br />
}
    <input type="hidden" name="ProductID" value="@Model.ProductID" />
    <input type="hidden" name="PictureName" value="@Model.PictureName" />
    Name: <input type="text" name="Name" value="@Model.Name" /> <br /><br />
    Price: <input type="text" name="Price" value="@Model.Price" /> <br /><br />
    Image: <input type="file" id="userImage" name="Image" value="@Model.PictureName" onchange="PreviewImage();" /><br />
    <input type="submit" value="Save" />
</form>
