﻿@model List<PMS.Entities.ProductDTO>

@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

@section scripts{
    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/myapp.js"></script>

    <script>

        $(function () {
            MyApp.Main();
        });

        function userProfile(id) {
            alert(id);

        }
    </script>


    <script>
        $(function () {
            $(".editbutton").click(function () {
                var pid = $(this).attr("pid");
                $("#ProductID").val(pid);
            });
        });
    </script>

}

<div class="mid">
    <h2>ShowAll</h2>
    <br /><a class="button" href="/Product/New">Add New Product </a> <br /><br /><br />
    <span>@TempData["Msg"]</span>
</div>

<div class="form container1" @*action='@Url.Content("~/Product/Edit2")' method="post"*@>
    <input type="hidden" name="ProductID" id="ProductID" />
    @*<table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.CreatedBy</td>
                    <td><img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" /></td>

                    @if (WebPrac.Security.SessionManager.User.IsAdmin)
                    {

                        <td><a href="/Product/Edit/@item.ProductID">Edit</a></td>
                        <td><a href="/Product/Delete/@item.ProductID">Delete</a></td>

                        <td><input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" /> </td>
                    }
                </tr>
            }
        </table>*@


    <div>
        @foreach (var item in Model)
        {
            <div>
                <div style="float:left">
                    <img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" />
                    <div style="margin-top:20px;">
                        <a class="button" href='@Url.Content("~/Product/Edit/" + @item.ProductID)'>Edit</a>
                        <a class="button" onclick="return confirm('Are You sure You want to delete?');" href='@Url.Content("~/Product/Delete/" + @item.ProductID)'>Delete</a>
                        @*<input class="button" type="submit" value="Edit" onclick="location.href = '../Product2/Edit?productId='+@item.ProductID;" />*@
                    </div>
                </div>
                <div style="float:right">
                    Product Id: @item.ProductID <br />
                    Name: @item.Name <br />
                    Price: @item.Price <br />
                    Created On @item.CreatedOn <b>By</b> @item.CreatedByName
                </div>
                <div id="tblBody">
                    <div class="commentarea prodbox" pid="@item.ProductID">
                        <textarea rows=" 2" style="margin-left:200px" cols=" 93" class="input txtComment" id="txtComment"></textarea>
                        <button id="txtComment" value="Add" class="addcomment button">Add a Comment</button>
                    </div>
                </div>
                <br />
                <div class="container1 comments">

                    @foreach (var comment in item.Comments)
                    {
                        <div class="comment">
                            <div class="picture">
                                <img src='@Url.Content("~/UploadedFiles/" + comment.PictureName)' />
                            </div>
                            <div>
                                <span class="name">@comment.UserName</span>
                                <span class="comment-text">@comment.CommentText</span> <br />
                                <span class="comment-text">@comment.CommentOn</span>

                            </div>
                        </div>
                        <br />
                        <div style="clear:both"></div>
                    }
                </div>
            </div>
        }
    </div>
</div>
