﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../css/styles.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <style>
        

        .comments .comment .picture {
            float: left;
        }

            .comments .comment .picture img {
                width: 30px;
                height: 30px;
            }

        .comments .comment .name {
            color: red;
        }

        .comments .comment .comment-text {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }
    </style>
    <script>
        window.BasePath = '@Url.Content("~")';
    </script>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/MyAppGlobal.js"></script>
    <script src="~/Scripts/myapp.js"></script>
    @RenderSection("scripts", false)
</head>
<body class="body">
    <div class="menu">
        <ul>
            @if (WebPrac.Security.SessionManager.User.IsAdmin)
            {
                <li> <a href="/Home/Admin">Home</a> </li>
                <li> <a href="/Product/ShowAll">Show All</a> </li>
                @*<a href="/Product/New">New Product</a>*@
            }
            else
            {
                <li> <a href="/Home/NormalUser">Home</a> </li>
                <li> <a href="/Product/ShowAll">Show All</a> </li>
            }
            <li> <a href="/User/Signup?userId=@WebPrac.Security.SessionManager.User.UserID">Edit Profile</a> </li>
            <li> <a href="/User/ChangePassword">Update Password</a> </li>
            <li> <a href="/User/Logout">Logout</a> </li>
            <li>  <a href="/Product2/New">Products-AJAX</a> </li>
        </ul>
    </div>
    <div id="overlay" class="overlay">
    </div>
    <h1 class="mid"> Welcome @WebPrac.Security.SessionManager.User.Name</h1>
    <span style="color:red">@TempData["Message"]</span><br />
    <div>
        @RenderBody()
    </div>
</body>
</html>
