﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="../../css/styles.css" rel="stylesheet">
    <title>@ViewBag.Title</title>

    @RenderSection("scripts",false)
</head>
<body>
    <span style="color:red">@TempData["Message"]</span><br />
    <div> 
        @RenderBody()
    </div>
</body>
</html>
