﻿
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

<h2 class="mid">ChangePassword</h2>
<form class="form container1" method="post" action="/user/ChangePassword">
    Password:<input type="password" name="password" /><br />
    <input type="hidden" name="UserID" value="@WebPrac.Security.SessionManager.User.UserID" />
    <input type="submit" name="updatePass" value="Update Password" />
    <span style="color:red;">@ViewBag.MSG</span>
</form>
