﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}

<h1 class="mid">Login</h1>

<form class="form container1" action="/User/Login" method="post">
    Login: <input type="text" name="login" value="@ViewBag.Login" /> <br />
    Password:<input type="password" name="password" /> <br />
    <input type="submit" value="Login" />
    <input type="button" value="SignUp" onclick="location.href = '../user/signup';"><br />
    <span style="color:red;">@ViewBag.MSG</span>
</form>

<form class="form container1" name="resetForm" method="post" action="/user/reset">
    <span>Forgot Password?</span><br /><br />
    Email: <input type="email" id="txtEmail" name="txtEmail" value="@ViewBag.txtEmail" /> <br>
    <span id="errorSpan" style="color:red">@ViewBag.message</span>
    <input type="submit" name="btnResetPass" id="btnResetPass" value="Reset Password" />
</form>

