﻿
@{
    ViewBag.Title = "showProfile";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

<h2 class="mid">showProfile</h2>

<div class="form container1">

    <img src='@Url.Content("~/UploadedFiles")/@ViewBag.userProfile.PictureName' style="width: 150px; height: 150px;" /><br /><br />
    <b>Name:</b><span>@ViewBag.userProfile.Name</span><br /> <br />
    <b>Login:</b><span>@ViewBag.userProfile.Login</span><br /> <br />
    <b>Email:</b><span>@ViewBag.userProfile.Email</span><br /> <br />
</div>