﻿
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}
<script>
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("userImage").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>
<h2 class="mid">SignUp</h2>

<form class="form container1" action='@Url.Content("~/User/Save")' method="post" enctype="multipart/form-data">
    name
    <input type="text" name="Name" value="@ViewBag.Name" /> <br />
    Login: <input type="text" name="Login" value="@ViewBag.Login" /> <br />
    Password: @*<input type="password" name="Password" /> <br />*@
    @{
    if(ViewBag.setting=="Enable")
    {
    <input type="password" name="Password" /> <br />
     }
    else
        {
           <input type="password" name="Password" disabled/> <br />
        }
    }
    Email:<input type="email" name="Email" value="@ViewBag.Email" /> <br />
    <input type="hidden" name="setting" value="@ViewBag.setting" />
    <input type="hidden" name="UserID" value="@WebPrac.Security.SessionManager.User.UserID" />
    <div>
        <span>Image</span><br />
        <img id="uploadPreview" src='@Url.Content("~/UploadedFiles")/@ViewBag.PictureName' style="width: 150px; height: 150px;" /><br />
        <input type="hidden" name="PictureName" value="@ViewBag.PictureName" />
        <input type="file" id="userImage" name="Image" value="@ViewBag.PictureName" onchange="PreviewImage();" /><br />
    </div>
    <input type="submit" value="SignUp" />
    <span style="color:red;">@ViewBag.MSG</span>
</form>

