﻿@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

@section scripts {

    <script src="~/Scripts/handlebars.js"></script>
    <script src="~/Scripts/myapp.js"></script>

    <script>

        $(function () {
            MyApp.Main();
        });

        function userProfile(id) {
            alert(id);

        }
    </script>
}

<h2 class="mid">Product Management</h2>

<div class="form container1">
    <img src="" style="width:100px;height:100px;display:none" id="prodimg" /> <br /><br />
    <input type="hidden" name="ProductID" id="txtProductID" value="0" />
    <input type="hidden" name="PictureName" id="txtPictureName" />
    Name: <input type="text" name="Name" id="txtName" /> <br /><br />
    Price: <input type="text" name="Price" id="txtPrice" /> <br /><br />
    Image: <input type="file" name="Image" id="myfile" /> <br /><br />

    <input type="submit" value="Save" id="btnSave" />
    <input type="button" id="btnClear" value="Clear" />
</div>

<h2 class="mid">Products</h2>
@*<table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="tblBody"></tbody>
    </table>*@


<div id="tblBody">

</div>

<div id="emailpopup" class="modalpopup">
    <span id="popupname"></span>

    <button id="btnSend">Email</button>
    <button id="btnClose">Close</button>
</div>


@*<script id="listtemplate" type="text/x-handlebars-template">
        {{#each data}}
        <tr pid="{{ProductID}}">
            <td>{{Name}}</td>
            <td>{{Price}}</td>
            <td><img src="/UploadedFiles/{{PictureName}}" style="width:100px;height:100px;" /></td>
            @if (WebPrac.Security.SessionManager.User.IsAdmin)
            {
                <td><a href="#" class="editprod">Edit</a></td>
                <td><a href="#" class="deleteprod">Delete</a></td>
                <td><a href="#" class="emailprod">Email</a></td>
            }
        </tr>
        {{/each}}
    </script>*@

<script id="listtemplate" type="text/x-handlebars-template">
    {{#each data}}
    <div class="prodbox form container1" pid="{{ProductID}}">
        <div style="float:left">
            <img src="/UploadedFiles/{{PictureName}}" style="width:100px;height:100px;" />
            <div style="margin-top:20px;">
                <a class="button" href="/Product/Edit/{{ProductID}}">Edit</a>
                <a class="button" onclick="return confirm('Are You sure You want to delete?');" href="/Product/Delete/{{ProductID}}">Delete</a>
                @*<input class="button" type="button" value="Edit" onclick="location.href = '../Product2/Edit?productId='+@item.ProductID;" />*@
            </div>
        </div>
        <div style="float:right">
            Product Id: {{ProductID}} <br />
            Name: {{Name}} <br />
            Price: {{Price}} <br />
            Created On {{CreatedOn}} <b>By</b> {{CreatedByName}}
        </div>
       
        <div class="commentarea">
            <textarea style="margin-left:200px" class="txtComment input" rows="2" cols="93"></textarea>
            <button id="txtComment" value="Add" class="addcomment button">Add a Comment</button>
        </div>
        <br />
        <div class="container1 comments">

            {{#each Comments}}
            <div class="comment">
                <div class="picture">
                    <img src='/UploadedFiles/{{PictureName}}' />
                </div>
                <div>
                    <span onclick="location.href = '../user/showProfile?userId={{UserID}}';" class="name">{{UserName}}</span>
                    <span class="comment-text"> {{CommentText}}</span> <br />
                    <span class="comment-text commenton">{{CommentOn}}</span>
                </div>
            </div>
            <br />
            <div style="clear:both"></div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</script>

<script id="commenttemplate" type="text/x-handlebars-template">
    <div class="comment">
        <div class="picture">
            <img src='/UploadedFiles/{{PictureName}}' />
        </div>
        <div>
            <span class="name">{{UserName}}</span>
            <span class="comment-text"> {{CommentText}}</span> <br />
            <span class="comment-text commenton">{{CommentOn}}</span>

        </div>
    </div>
    <br />
    <div style="clear:both"></div>
</script>